$Roboto-family:"Roboto",sans-serif;
$theme-blue-color:#2D6ACC;
$theme-orange-color:#F44F20;
$theme-red-color:red;
$theme-black-color:#000;
$theme-orange-gradient-color:#ffa50040;
// common clasees
.para-text{
    font-size: 1.6rem;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 0;
    @media (max-width:1024px) {
        font-size: 1.2rem;
    }
    @media (max-width:767px) {
        font-size: 16px;
    }
}
.main-title{
    font-family: $Roboto-family;
    font-size: 5rem;
    line-height: 1em;
    font-weight: 900;
    letter-spacing: -0.03em;
    text-align: center;
    color: $theme-blue-color;
    @media (max-width:1024px) {
        font-size: 3.5rem;
    }
    @media (max-width:767px) {
        font-size: 2rem;
    }
}
.sub-title{
    font-family: $Roboto-family;
    font-size: 3.8rem;
    line-height: 1em;
    font-weight: 900;
    letter-spacing: -0.03em;
    text-align: center;
}
.btn{
    &.btn-primary{
        background-color: $theme-orange-color;
        border: 1px solid $theme-orange-color;
        color:#fff;
        border-radius: 50px;
        padding: 13px 25px;
        font-size: 1rem;
        line-height: 1em;
        font-family: $Roboto-family;
    }
    .btn-warning{
        
    }
}

.navbar{
    @media (max-width:767px) {
        border-bottom: 1px solid #ccc;
    }
}
.header{
    .navbar{
        .navbar-collapse{
            justify-content: flex-end;
            .navbar-nav{
                gap: 0.8rem;
                a{
                    text-decoration: none;
                    font-family: $Roboto-family;
                    letter-spacing: -0.03em;
                    font-size: 1rem;
                    line-height: 1.25em;
                    color: #000;
                    font-weight: 600;
                }
            }
        }
    }
}
.footer{
    padding: 50px 0;
    background: rgba(255, 255, 255, 0.8);
    @media (max-width:767px) {
        padding: 0 0 20px 0;
    }
    ul{
        &.site-map{
            list-style-type: none;
            padding-left: 0;
            @media (max-width:767px) {
                text-align: center;
                margin-bottom: 30px;
            }
            h3{
                color: #000;
                margin-bottom: 0.8rem;
                font-size: 16px;
            }
            li{
                font-size: 14px;
                margin-bottom: 0.8rem;
                display: block;
                color: rgba(0, 0, 0, 0.5) !important;
                font-weight: 500;
                a{
                    color: rgba(0, 0, 0, 0.5) !important;
                    text-decoration: none;
                }
            }
        }
        &.social-icons{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            padding: 20px 0 40px 0;
            margin-bottom: 0;
            @media (max-width:767px) {
                padding: 0 0 20px 0;
            }
            li{
                padding: 0 10px;
                cursor: pointer;
                a{
                    color: rgba(0, 0, 0, 0.5) !important;
                    text-decoration: none;
                    svg{
                        font-size: 30px;
                        color: $theme-orange-color;
                    }
                }
                
            }
        }
        &.copyrights{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            margin-bottom: 0;
            padding-left: 0;
            @media (max-width:767px) {
                flex-direction: column;
                
            }
            li{
                padding: 0 5px;
                cursor: pointer;
                a{
                    color: $theme-orange-color;
                    text-decoration: none;
                }
            }
        }
    }
}
.home{
    .hero-section{
        padding: 80px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media (max-width:767px) {
            padding: 40px 0;
        }
        .main-title{
            margin-bottom: 30px;
            color: $theme-black-color;
            span{
                background: rgb(45,106,204);
background: linear-gradient(90deg, rgba(45,106,204,1) 50%, rgba(37,84,166,1) 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .para-text{
            padding: 0 60px;
            @media (max-width:767px) {
                padding: 0 10px;
            }
        }
        .hero-animation{
            svg{
                margin-bottom: -400px;
                animation: 16s linear 0s infinite normal none running;
                margin-top: 6.4rem;
                width: 814px;
            }
                   
        }   
    }
    .content-section{
        padding: 80px 0;
        background: linear-gradient(rgb(241, 241, 245) 0%, rgb(255, 255, 255) 74.78%, rgb(255, 255, 255) 100%), rgb(255, 255, 255);
        text-align: center;
        @media (max-width:767px) {
            padding: 40px 0;
        }
        .main-title{
            padding: 0 50px;
            margin-bottom: 2.5rem;
        }
        .para-text{
            padding: 0 30px;
            margin-bottom: 50px;
        }
        .btn{
            
        }
    }
    .showcase-section{
        background-color: $theme-black-color;
        padding: 80px 0;
        @media (max-width:767px) {
            padding: 40px 0;
        }
        .main-title{
            padding: 0 50px;
            margin-bottom: 30px;
        }
        .para-text{
            padding: 0 50px;
            color: #fff;
            margin-bottom: 60px;
            @media (max-width:767px) {
                padding: 0 10px;
            }   
        }
        .showcase-inner{
            margin-bottom: 30px;
            @media (max-width:767px) {
                text-align: center;
            }
            .showcase-card{
                h5{
                    color: #fff;
                    font-family: $Roboto-family;
                    font-size: 28px;
                    font-weight: 600;
                }
                label{
                    color: $theme-orange-color;
                    font-size: 26px;
                    margin-bottom: 10px;
                    font-weight: 700;

                }
                p{
                    color: #fff;
                    font-family: $Roboto-family;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
        .games-section{
            h2{
                font-size: 38px;
                color: #fff;
                font-family: $Roboto-family;
                font-weight: 600;
                margin-bottom: 30px;
                text-align: left;
                padding-left: 0;
                @media (max-width:767px) {
                    text-align: center;
                    padding: 0 10px;
                    font-size: 28px;
                }
            }
            .games-slider{
                padding: 0 20px;
                @media (max-width:767px) {
                    padding: 0 40px;
                }
                .slick-slide{
                    > div{
                        margin: 0 10px;
                    }
                }
                .slick-list{
                    margin: 0 -5px;
                }
                .slick-prev:before, .slick-next:before{
                    color: $theme-orange-color;
                }
                .card{
                    overflow: hidden;
                    height: auto;
                    background-color: $theme-black-color;
                    .card-top{
                        position: relative;
                        > img{
                            width: 100%;
                            min-height: 400px;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                        label{
                            position: absolute;
                            content: "";
                            background: $theme-orange-color;
                            color: #fff;
                            border-radius: 8px;
                            padding: 3px 10px;
                            bottom: 10px;
                            left: 10px;
                            font-size: 14px;
                        }
                    }
                    .card-bottom{
                        h3{
                            font-size: 20px;
                            color: #fff;
                            font-weight: 600;
                            margin: 10px 0;
                        }
                        h5{
                            font-size: 16px;
                            color: #fff;
                            font-weight: 400;
                        }
                        a{
                            color: $theme-orange-color;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .doa-section{
        padding: 80px 0;
        background-color: rgb(241, 241, 245);
        text-align: center;
        @media (max-width:767px) {
            padding: 40px 0;
        }
        .main-title{
            margin-bottom: 30px;
        }
        .para-text{
            padding: 0 50px;
            margin-bottom: 40px;
            @media (max-width:767px) {
                padding: 0 10px;
            }
        }
    }
    .news-section{
        padding: 80px 0;
        @media (max-width:767px) {
            padding: 40px 0;
        }
        .main-title{
            font-size: 45px;
            font-weight: 600;
            margin-bottom: 30px;
            padding-left: 0;
            @media (max-width:767px) {
                font-size: 28px;
            }
        }
        .news-slider{
            padding: 0 20px;
            @media (max-width:767px) {
                padding: 0 40px;
            }
            .slick-slide{
                > div{
                    margin: 0 10px;
                }
            }
            .slick-dots{
                li{
                    button{
                        &::before{
                            font-size: 15px;
                        }
                    }
                }
            } 
            .slick-prev:before, .slick-next:before{
                color: $theme-black-color;
                font-size: 30px;
            }
            .news-card{
                img{
                    width: 100%;
                    min-height: 300px;
                    object-fit: cover;
                    border-radius: 15px;
                }
            }
        }
    }
    .newsletter-section{
        .newsletter{
            padding: 0 200px;
            @media (max-width:1024px) {
                padding: 0 200px;
            }
            @media (max-width:767px) {
                padding: 40px 10px;
            }
            .main-title{
                font-size: 28px;
                margin-bottom: 10px;
            }
            .para-text{
                font-size: 14px;
                margin-bottom: 20px;
            }
            form{
                display: flex;
                position: relative;
                input{
                    padding: 10px 20px;
                    width: 100%;
                    border-right:none;
                    border-radius:50px;
                    border-left: 1px solid #ced4daa6;
                    border-top: 1px solid #ced4daa6;
                    border-bottom: 1px solid #ced4daa6;
                    outline: none;
                    background: rgba(240, 240, 240, 0.5);
                }
                button{
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 1px;
                    @media (max-width:767px) {
                        padding: 12px 12px;
                    }
                }
            }
        }
    }
}
.about-page{
    .about-section{
        padding: 100px 70px 80px;
        @media (max-width:767px) {
            padding: 50px 10px 50px;
        }
        h2{
            margin-bottom: 30px;
            @media (max-width:767px) {
                margin-bottom: 20px;
            }
        }
    }
    .team-section{
        padding-bottom: 50px;
        .main-title{
            span{
                color: $theme-blue-color;
            }
        }
    }
    .team-cards{
        align-items: center;
        position: relative;
        @media (max-width:767px) {
            margin-bottom: 20px;
        }
        .card-img-top{
            border-radius: 50%;
            border: 5px solid $theme-blue-color;
            width: 160px;
            margin-top: 20px;
            z-index: 1;
            @media (max-width:767px) {
                width: 140px;
            }
        }
        .card-body{
            padding-bottom: 0;
            text-align: center;
            z-index: 1;
            h3{
                font-family: $Roboto-family;
                font-weight: 600;
                color: $theme-blue-color;
                font-size: 22px;
                text-transform: uppercase;
                min-height: 50px;
                @media (max-width:767px) {
                    min-height: 0;
                }
            }
            h5{
                font-family: $Roboto-family;
                font-weight: 600;
                color: $theme-blue-color;
                font-size: 14px;
                text-transform: uppercase;
            }
            p{
                font-size: 12px;
                &.general-info{
                    min-height: 180px;
                    @media (max-width:767px) {
                        min-height: 0;
                    }
                }
            }
            ul{
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding-left: 0;
                li{
                    padding: 0 5px;
                    font-size: 25px;
                    a{
                        text-decoration: none;
                        color: $theme-black-color;
                    }
                }
            }
        }
        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 85%;
            background-color: $theme-orange-gradient-color;
            bottom: 0;
        }
    }
}

.team-page{
    .team-title{
        padding: 25px 0;
        .main-title{
            font-size: 36px;
            color: $theme-blue-color;
        }
    }
    .team-cards{
        align-items: center;
        position: relative;
        @media (max-width:767px) {
            margin-bottom: 20px;
        }
        .card-img-top{
            border-radius: 50%;
            border: 5px solid $theme-blue-color;
            width: 140px;
            height: 130px;
            margin-top: 20px;
            z-index: 1;
            @media (max-width:767px) {
                width: 140px;
            }
        }
        .card-body{
            padding-bottom: 0;
            text-align: center;
            z-index: 1;
            h3{
                font-family: $Roboto-family;
                font-weight: 600;
                color: $theme-blue-color;
                font-size: 22px;
                text-transform: uppercase;
                min-height: 50px;
                @media (max-width:767px) {
                    min-height: 0;
                }
            }
            h5{
                font-family: $Roboto-family;
                font-weight: 600;
                color: $theme-blue-color;
                font-size: 14px;
                text-transform: uppercase;
            }
            p{
                font-size: 12px;
                &.general-info{
                    min-height: 180px;
                    @media (max-width:767px) {
                        min-height: 0;
                    }
                }
            }
            ul{
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding-left: 0;
                li{
                    padding: 0 5px;
                    font-size: 25px;
                    a{
                        text-decoration: none;
                        color: $theme-black-color;
                    }
                }
            }
        }
        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 85%;
            background-color: $theme-orange-gradient-color;
            bottom: 0;
        }
        &.advisor{
            .card-body{
                h3{
                    min-height: 30px;
                }
            }
            &:after{
                height: 75%;
            }
        }
        &.core-team{
            .card-body{
                h3{
                    min-height: 30px;
                }
            }
            &:after{
                height: 70%;
            }
        }
    }
}

.contact-page{
    padding: 100px 0;
    @media (max-width:767px) {
        padding: 40px 0;
    }
    .contact-section{
        padding: 0 50px;
        @media (max-width:767px) {
            padding: 0;
        }
        h2{
            margin-bottom: 30px;
            @media (max-width:767px) {
                margin-bottom: 20px;
            }
        }
    }
    .contact-form{
        padding: 50px 50px 0;
        @media (max-width:767px) {
            padding: 40px 0;
        }
        .form-control{
            border: 1px solid #ced4daa6;
            width: 100%;
            outline: none;
            background: rgba(240, 240, 240, 0.5);
            backdrop-filter: blur(80px);
            border-radius: 4px;
            padding: 12px 15px;
        }
        button{
            @media (max-width:767px) {
                width: 100%;
            }
        }
    }
}

.games{
    .games-section{
        padding: 80px 0;
        @media (max-width:767px) {
            padding: 40px 0;
        }
        .main-title{
            padding: 0 150px;
            margin-bottom: 30px;
            @media (max-width:767px) {
                padding: 0 20px;
                margin-bottom: 20px;
            }
        }
        .para-text{
            padding: 0 80px;
            @media (max-width:767px) {
                padding: 0;
            }
        }
    }
    .games-detail-section{
        .main-title{
            margin-bottom: 30px;
            @media (max-width:767px) {
                margin-bottom: 20px;
            }
        }
        .para-text{
             margin-bottom: 50px;

        }
        img{
            width: 100%;
            border-radius: 25px;
            @media (max-width:767px) {
                margin-bottom: 15px;
            }
        }
        .games-card{
            .main-title{
                text-align: left;
                font-size: 30px;
                display: flex;
                align-items: center;
                @media (max-width:767px) {
                    font-size: 22px;
                    justify-content: center;
                }
            .games-label{
                padding: 0 20px;
                color: #000;
                font-size: 12px;
                text-transform: uppercase;
                background: $theme-orange-color;
                border-radius: 10px;
                margin-left: 10px;
                margin-bottom: 0;
            }
            }
            .para-text{
                text-align: left;
                font-size: 16px;
                margin-top: 20px;
                @media (max-width:767px) {
                    font-size: 14px;
                    margin-top: 0;
                    text-align: center;
                }
            }
        }
        
    }
}